In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_excel('student_dream.xlsx')
data

   SAP ID   AGE  MARKS    FUTURE DREAM     LABEL
0       1  25.0     70  Cyber Security      Hard
1       2  26.0     71    Data Science      Easy
2       3  23.0     82    AI/ML Expert      Hard
3       4  21.0     45      Full Stack      Easy
4       5  24.5     39         Dev Ops      Easy
5       6  21.5     78  Cyber Security      Hard
6       7  20.0     91    Data Science      Easy
7       8  19.0     90    Cloud Expert  Moderate

In [12]:
def one_hot_encode(data):
    encoded_df = pd.DataFrame(index=data.index)
    categorical_cols = data.select_dtypes(include=['object']).columns
    if len(categorical_cols) == 0:
        return data
    for col in categorical_cols:
        unique_values = data[col].unique()
        for value in unique_values:
            col_name = f"{col}_{value}"
            encoded_df[col_name] = (data[col] == value).astype(int)
    numerical_cols = data.select_dtypes(exclude=['object']).columns
    final_df = pd.concat([data[numerical_cols], encoded_df], axis=1)
    return final_df

In [15]:
f_df = one_hot_encode(data)

In [16]:
f_df

,SAP ID,AGE,MARKS,FUTURE DREAM_Cyber Security,FUTURE DREAM_Data Science,FUTURE DREAM_AI/ML Expert,FUTURE DREAM_Full Stack,FUTURE DREAM_Dev Ops,FUTURE DREAM_Cloud Expert,LABEL_Hard,LABEL_Easy,LABEL_Moderate
0,1,25.0,70,1,0,0,0,0,0,1,0,0
1,2,26.0,71,0,1,0,0,0,0,0,1,0
2,3,23.0,82,0,0,1,0,0,0,1,0,0
3,4,21.0,45,0,0,0,1,0,0,0,1,0
4,5,24.5,39,0,0,0,0,1,0,0,1,0
5,6,21.5,78,1,0,0,0,0,0,1,0,0
6,7,20.0,91,0,1,0,0,0,0,0,1,0
7,8,19.0,90,0,0,0,0,0,1,0,0,1

In [20]:
data = {
    'x': [1,2,3,2,5,8,11],
    'y': [40,45,50,48,55,70,80]
}
df = pd.DataFrame(data)
correlation = df['x'].corr(df['y'])
covariance = df['x'].cov(df['y'])
print(f"Correlation between x and y: {correlation:.4f}")
print(f"Covariance between x and y: {covariance:.4f}")
correlation_matrix = df.corr()
print("\nCorrelation Matrix:")
print(correlation_matrix)
covariance_matrix = df.cov()
print("\nCovariance Matrix:")
print(covariance_matrix)

Correlation between x and y: 0.9937
Covariance between x and y: 52.8810

Correlation Matrix:
          x         y
x  1.000000  0.993674
y  0.993674  1.000000

Covariance Matrix:
           x           y
x  13.619048   52.880952
y  52.880952  207.952381